# ======================
# MAVEN / JAVA / SPRING BOOT
# ======================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
*.log

!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

# ======================
# ENV FILES (IMPORTANT)
# ======================
.env

# ======================
# STS (Spring Tool Suite)
# ======================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ======================
# INTELLIJ IDEA
# ======================
.idea/
*.iws
*.iml
*.ipr

# ======================
# NETBEANS
# ======================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ======================
# VS CODE
# ======================
.vscode/

# ======================
# FRONTEND (React)
# ======================
node_modules/
dist/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db